@using Newtonsoft.Json
@model OurInstagram.Models.Entities.User
@{
    ViewData["Title"] = "Profile";
    Layout = "_Navbar";
}

@* Đây là body *@
@section Stylesheets
{
    <link rel="stylesheet" type="text/css" href="~/css/Profile/styles.css">
}
@section Scripts
{
    <script src="~/js/Profile/index.js" type="text/javascript"></script>
    <script>
        let imageArray = @Html.Raw(JsonConvert.SerializeObject(Model.images));
        let images = []
        imageArray.forEach(image => {
            images.push(image["imagePath"]);
        })
        let placeholder = document.querySelector(".placeholder");
        if (images.length !== 0) {
            loadingImages(images);
            window.addEventListener("DOMContentLoaded", () => {
                placeholder.classList.remove("show");
                placeholder.classList.add("hide");
            });
        }
        else {
            window.addEventListener("DOMContentLoaded", () => {
                placeholder.classList.remove("hide");
                placeholder.classList.add("show");
            });
        }
    </script>
}

<main class="home">
    <div class="profile_section">
        <div class="avatar" alt="Avatar" style="
            background-image: url('@(Model.avatarPath ?? "../../Resources/default_ava.png")')"></div>
        <div class="info_section">
            <p class="username">@(Model.username ?? "Username : Unknown")</p>
            <div class="counting_section">
                <p><strong>@(Model.images?.Count ?? 0)</strong> Posts</p>
                <p><strong>@(Model.followers?.Count ?? 0)</strong> Followers</p>
                <p><strong>@(Model.followings?.Count ?? 0)</strong> Followings</p>
            </div>
            <p class="display_name">@(Model.displayedName ?? "Display Name : Unknown")</p>
            <p class="bio">@(Model.biography ?? "Bio : Unknown")</p>
        </div>
    </div>
    <div class="separator"></div>
    <div class="homepage_container"></div>
    <p class="placeholder hide"><em>Uploaded images will be shown below</em></p>
</main>