@model LoginModel
@* @model OurInstagram.Models.Login.LoginInput *@
@{
    Layout = "_LoginNavbar";
    ViewData["Title"] = "Login";
}

@section Stylesheets
{
    <link rel="stylesheet" type="text/css" href="css/Nguyen_Login/styles.css"/>
    <link rel="stylesheet" type="text/css" href="lib/fullpage/dist/fullpage.css"/>
}
@section Scripts 
{
    <script type="text/javascript" src="lib/fullpage/dist/fullpage.js"></script>
    <script type="text/javascript" src="js/Nguyen_Login/index.js"></script>
    <script type="text/javascript" src="js/Nguyen_Login/popup.js"></script>
}

<div id="fullpage" class="main">
    <div class="section">
        <div class="section_title">
            <div class="title_head">
                Get your next
            </div>
            <div class="title_tail color1 show">weeknight dinner idea</div>
            <div class="title_tail color2 hide">home decor idea</div>
            <div class="title_tail color3 hide">new look outfit</div>
            <div class="title_tail color4 hide">green thumb idea</div>
        </div>
        <div class="section_image">
            <div class="column1">
                <img alt="Image" src="" class="column_image image1 show"/>
                <img alt="Image" src="" class="column_image image7 hide"/>
            </div>
            <div class="column2">
                <img alt="Image" src="" class="column_image image2 show"/>
                <img alt="Image" src="" class="column_image image8 hide"/>
            </div>
            <div class="column3">
                <img alt="Image" src="" class="column_image image3 show"/>
                <img alt="Image" src="" class="column_image image9 hide"/>
            </div>
            <div class="column4">
                <img alt="Image" src="" class="column_image image4 show"/>
                <img alt="Image" src="" class="column_image image0 hide"/>
            </div>
            <div class="column5">
                <img alt="Image" src="" class="column_image image5 show"/>
                <img alt="Image" src="" class="column_image image6 hide"/>
            </div>
        </div>
    </div>
    <div class="section">
        <p class="section2_text">Hình ảnh minh hoạ (sẽ có trong tương lai)</p>
    </div>
    <div class="section">
        <div class="login-section">
            <div class="login-box show_panel">
                <div class="login_logo">
                    <img class="logo" alt="Instagram Logo" src="Resources/insta_logo_frame.png"/>
                    <p class="title">Welcome To Instagram</p>
                </div>
                <form class="login-form" asp-area="" asp-controller="Login" asp-action="Login">
                    <label asp-for="@Model.LoginInput.Email" for="email">Email</label>
                    <input asp-for="@Model.LoginInput.Email" class="btn_email" id="email" type="email" placeholder="Email" required/>
                    <label asp-for="@Model.LoginInput.Password" for="password">Password</label>
                    <input asp-for="@Model.LoginInput.Password" class="btn_password" id="password" type="password" placeholder="Password" required/>
                    <a asp-area="" asp-controller="" asp-action="" class="forgot_password">Forgot your password?</a>
                    <input class="btn_submit" type="submit" value="Log in"/>
                </form>
                <p class="or">OR</p>
                <div class="login_with_facebook">
                    <img class="facebook_logo" src="Resources/facebook.png" alt="Facebook Logo"/>
                    <span class="facebook_login">Continue with facebook</span>
                </div>
                <p class="to_signup">Not on Instagram yet? Sign up</p>
            </div>

            <div class="signup-box hide_panel">
                <div class="login_logo">
                    <img class="logo" alt="Instagram Logo" src="Resources/insta_logo_frame.png"/>
                    <p class="title">Welcome To Instagram</p>
                </div>
                <form class="signup-form" asp-area="" asp-controller="Login" asp-action="Signup">
                    <label asp-for="@Model.SignupInput.Email" for="signup_email">Email</label>
                    <input asp-for="@Model.SignupInput.Email" class="btn_email" id="signup_email" type="email" placeholder="Email" required/>
                    <label asp-for="@Model.SignupInput.Password" for="signup_password">Password</label>
                    <input asp-for="@Model.SignupInput.Password" class="btn_password" id="signup_password" type="password" placeholder="Password" required/>
                    <label asp-for="@Model.SignupInput.ConfirmPassword" for="confirm_password">Confirm password</label>
                    <input asp-for="@Model.SignupInput.ConfirmPassword" class="btn_password" id="confirm_password" type="password" placeholder="Confirm password" required/>
                    <span asp-validation-for="@Model.SignupInput.ConfirmPassword" style="color: red"></span>
                    <input class="btn_submit" type="submit" value="Sign up"/>
                </form>
                <p class="or">OR</p>
                <div class="login_with_facebook">
                    <img class="facebook_logo" src="Resources/facebook.png" alt="Facebook Logo"/>
                    <span class="facebook_login">Continue with facebook</span>
                </div>
                <p class="to_login">Already a member? Login</p>
            </div>
        </div>
    </div>
</div>

@* CREATE POPUP *@
<div class="panel_login">
    <div class="login-section">
        <div class="login-box login_popup">
            <div class="login_logo">
                <img class="logo" alt="Instagram Logo" src="Resources/insta_logo_frame.png"/>
                <p class="title">Welcome To Instagram</p>
            </div>
            <form class="login-form" asp-area="" asp-controller="Login" asp-action="Login">
                <label asp-for="@Model.LoginInput.Email" for="popup_email">Email</label>
                <input asp-for="@Model.LoginInput.Email" class="btn_email" id="popup_email" type="email" placeholder="Email" required/>
                <label asp-for="@Model.LoginInput.Password" for="popup_password">Password</label>
                <input asp-for="@Model.LoginInput.Password" class="btn_password" id="popup_password" type="password" placeholder="Password" required/>
                <a asp-area="" asp-controller="" asp-action="" class="forgot_password">Forgot your password?</a>
                <input class="btn_submit" type="submit" value="Log in"/>
            </form>
            <p class="or">OR</p>
            <div class="login_with_facebook">
                <img class="facebook_logo" src="Resources/facebook.png" alt="Facebook Logo"/>
                <span class="facebook_login">Continue with facebook</span>
            </div>
            @* <p class="to_signup">Not on Instagram yet? Sign up</p> *@
        </div>
    </div>
</div>

<div class="panel_signup">
    <div class="login-section">
        <div class="signup-box signup_popup">
            <div class="login_logo">
                <img class="logo" alt="Instagram Logo" src="Resources/insta_logo_frame.png"/>
                <p class="title">Welcome To Instagram</p>
            </div>
            <form class="signup-form" asp-area="" asp-controller="Login" asp-action="Signup">
                <label asp-for="@Model.SignupInput.Email" for="popup_signup_email">Email</label>
                <input asp-for="@Model.SignupInput.Email" class="btn_email" id="popup_signup_email" type="email" placeholder="Email" required/>
                <label asp-for="@Model.SignupInput.Password" for="popup_signup_password">Password</label>
                <input asp-for="@Model.SignupInput.Password" class="btn_password" id="popup_signup_password" type="password" placeholder="Password" required/>
                <label asp-for="@Model.SignupInput.ConfirmPassword" for="popup_confirm_password">Confirm password</label>
                <input asp-for="@Model.SignupInput.ConfirmPassword" class="btn_password" id="popup_confirm_password" type="password" placeholder="Confirm password" required/>
                <span asp-validation-for="@Model.SignupInput.ConfirmPassword" style="color: red"></span>
                <input class="btn_submit" type="submit" value="Sign up"/>
            </form>
            <p class="or">OR</p>
            <div class="login_with_facebook">
                <img class="facebook_logo" src="Resources/facebook.png" alt="Facebook Logo"/>
                <span class="facebook_login">Continue with facebook</span>
            </div>
            @* <p class="to_login">Already a member? Login</p> *@
        </div>
    </div>
</div>