@model OurInstagram.Models.Login.LoginModel
@{
    Layout = "_LoginNavbar";
    ViewData["Title"] = "Login";
}

@section Stylesheets
{
    <link rel="stylesheet" type="text/css" href="~/css/Nguyen_Login/styles.css"/>
    <link rel="stylesheet" type="text/css" href="~/lib/fullpage/dist/fullpage.css"/>
}
@section Scripts
{
    <script type="text/javascript" src="~/lib/fullpage/dist/fullpage.js"></script>
    <script type="text/javascript" src="~/js/Nguyen_Login/index.js"></script>
    <script type="text/javascript" src="~/js/Nguyen_Login/popup.js"></script>
    <script>
        document.addEventListener("click", e => {
            if (!signupPopup.contains(e.target) && !loginPopup.contains(e.target) && !btnLogin.contains(e.target) && !btnSignup.contains(e.target)) {
                closePopup();
                @{ ViewData.ModelState.Clear(); }
            }
        });
    </script>
}

<div id="fullpage" class="main">
    <div class="section">
        <div class="section_title">
            <div class="title_head">
                Get your next
            </div>
            <div class="title_tail color1 show">weeknight dinner idea</div>
            <div class="title_tail color2 hide">home decor idea</div>
            <div class="title_tail color3 hide">new look outfit</div>
            <div class="title_tail color4 hide">green thumb idea</div>
        </div>
        <div class="section_image">
            <div class="column1">
                <img alt="Image" src="" class="column_image image1 show"/>
                <img alt="Image" src="" class="column_image image7 hide"/>
            </div>
            <div class="column2">
                <img alt="Image" src="" class="column_image image2 show"/>
                <img alt="Image" src="" class="column_image image8 hide"/>
            </div>
            <div class="column3">
                <img alt="Image" src="" class="column_image image3 show"/>
                <img alt="Image" src="" class="column_image image9 hide"/>
            </div>
            <div class="column4">
                <img alt="Image" src="" class="column_image image4 show"/>
                <img alt="Image" src="" class="column_image image0 hide"/>
            </div>
            <div class="column5">
                <img alt="Image" src="" class="column_image image5 show"/>
                <img alt="Image" src="" class="column_image image6 hide"/>
            </div>
        </div>
    </div>
    <div class="section">
        <p class="section2_text">Hình ảnh minh hoạ (sẽ có trong tương lai)</p>
    </div>
    <div class="section">
        <div class="login-section">
            <div class="login-box @(ViewData.ModelState.ContainsKey("Password") ? "hide_panel" : "show_panel")">
                <div class="login_logo">
                    <img class="logo" alt="Instagram Logo" src="~/Resources/insta_logo_frame.png"/>
                    <p class="title">Welcome To Instagram</p>
                </div>
                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "login-form" }))
                {
                    @Html.LabelFor(m => m.LoginInput.Email)
                    @Html.TextBoxFor(m => m.LoginInput.Email, new { placeholder = "Email", @class = "input_email" })
                    @Html.LabelFor(m => m.LoginInput.Password)
                    @Html.PasswordFor(m => m.LoginInput.Password, new { placeholder = "Password", @class = "input_password" })
                    @Html.ValidationMessage("Password")
                    <input class="btn_submit" type="submit" value="Log in"/>
                }
                <p class="or">OR</p>
                <button class="facebook_login">
                    <span class="facebook_logo"></span>
                    Continue with facebook
                </button>
                <p class="to_signup">Not on Instagram yet? Sign up</p>
            </div>

            <div class="signup-box @(ViewData.ModelState.ContainsKey("Confirm Password") ? "show_panel" : "hide_panel")">
                <div class="login_logo">
                    <img class="logo" alt="Instagram Logo" src="~/Resources/insta_logo_frame.png"/>
                    <p class="title">Welcome To Instagram</p>
                </div>
                @using (Html.BeginForm("Signup", "Login", FormMethod.Post, new { @class = "signup-form"} ))
                {
                    @Html.LabelFor(m => m.SignupInput.Email)
                    @Html.TextBoxFor(m => m.SignupInput.Email, new { placeholder = "Email", @class = "input_email" })
                    @Html.LabelFor(m => m.SignupInput.Password)
                    @Html.PasswordFor(m => m.SignupInput.Password, new { placeholder = "Password", @class = "input_password" })
                    @Html.LabelFor(m => m.SignupInput.ConfirmPassword)
                    @Html.PasswordFor(m => m.SignupInput.ConfirmPassword, new { placeholder = "Confirm password", @class = "input_password" })
                    @Html.ValidationMessage("Confirm Password")
                    <input class="btn_submit" type="submit" value="Sign up"/>
                }
                <p class="or">OR</p>
                <button class="facebook_login">
                    <span class="facebook_logo"></span>
                    Continue with facebook
                </button>
                <p class="to_login">Already a member? Login</p>
            </div>
        </div>
    </div>
</div>

@* CREATE POPUP *@
<div class="panel_login @(ViewData.ModelState.ContainsKey("Password") ? "show_popup" : "")">
    <div class="login-section">
        <div class="login-box login_popup">
            <div class="login_logo">
                <img class="logo" alt="Instagram Logo" src="~/Resources/insta_logo_frame.png"/>
                <p class="title">Welcome To Instagram</p>
            </div>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "login-form" }))
            {
                @Html.LabelFor(m => m.LoginInput.Email)
                @Html.TextBoxFor(m => m.LoginInput.Email, new { placeholder = "Email", @class = "input_email" })
                @Html.LabelFor(m => m.LoginInput.Password)
                @Html.PasswordFor(m => m.LoginInput.Password, new { placeholder = "Password", @class = "input_password" })
                @Html.ValidationMessage("Password")
                <input class="btn_submit" type="submit" value="Log in"/>
            }
            <p class="or">OR</p>
            <button class="facebook_login">
                <span class="facebook_logo"></span>
                Continue with facebook
            </button>
            @* <p class="to_signup">Not on Instagram yet? Sign up</p> *@
        </div>
    </div>
</div>

<div class="panel_signup @(ViewData.ModelState.ContainsKey("Confirm Password") ? "show_popup" : "")">
    <div class="login-section">
        <div class="signup-box signup_popup">
            <div class="login_logo">
                <img class="logo" alt="Instagram Logo" src="~/Resources/insta_logo_frame.png"/>
                <p class="title">Welcome To Instagram</p>
            </div>
            @using (Html.BeginForm("Signup", "Login", FormMethod.Post, new { @class = "signup-form"} ))
            {
                @Html.LabelFor(m => m.SignupInput.Email)
                @Html.TextBoxFor(m => m.SignupInput.Email, new { placeholder = "Email", @class = "input_email" })
                @Html.LabelFor(m => m.SignupInput.Password)
                @Html.PasswordFor(m => m.SignupInput.Password, new { placeholder = "Password", @class = "input_password" })
                @Html.LabelFor(m => m.SignupInput.ConfirmPassword)
                @Html.PasswordFor(m => m.SignupInput.ConfirmPassword, new { placeholder = "Confirm password", @class = "input_password" })
                @Html.ValidationMessage("Confirm Password")
                <input class="btn_submit" type="submit" value="Sign up"/>
            }
            <p class="or">OR</p>
            <button class="facebook_login">
                <span class="facebook_logo"></span>
                Continue with facebook
            </button>
            @* <p class="to_login">Already a member? Login</p> *@
        </div>
    </div>
</div>
