@model OurInstagram.Models.Login.LoginModel
<div class="login_logo">
    <img class="logo" alt="Instagram Logo" src="~/Resources/insta_logo_frame.png"/>
    <p class="title">Welcome To Instagram</p>
</div>
@using (Html.BeginForm("Signup", "Login", FormMethod.Post, new { @class = "signup-form"} ))
{
    @Html.LabelFor(m => m.SignupInput.Username)
    @Html.TextBoxFor(m => m.SignupInput.Username, new { placeholder = "Username", @class = "input_email" })
    @Html.LabelFor(m => m.SignupInput.Password)
    @Html.PasswordFor(m => m.SignupInput.Password, new { placeholder = "Password", @class = "input_password" })
    @Html.LabelFor(m => m.SignupInput.ConfirmPassword)
    @Html.PasswordFor(m => m.SignupInput.ConfirmPassword, new { placeholder = "Confirm password", @class = "input_password" })
    @Html.ValidationMessage("Signup Error")
    <input class="btn_submit" type="submit" value="Sign up"/>
}
<p class="or">OR</p>
<button class="facebook_login">
    <span class="facebook_logo"></span>
    Continue with facebook
</button>
@* <p class="to_login">Already a member? Login</p> *@